html {
  font-family: "Fredoka One", sans-serif;
  border-top: 5px solid #b3fbff;
  background: repeating-linear-gradient(325deg, #c9fcff, #c9fcff 20px, #d4fdff 20px, #d4fdff 25px);
}

body {
  margin: 0;
}

.text {
width: 66.6%;
}

.title {
  bottom: calc(60% - 8px);
  transform: rotate(-13deg);
  transform-origin: center left;
}

.paragraph {
  bottom: calc(50% - 8px);

  transform: rotate(-7deg);
  max-width: 19em;
  transform-origin: left center;
}

.ice-cream {
  position: relative;
  width: 33.3%;
}

section {
  display: flex;
  border-bottom: 5px solid #b3fbff;
}

.btn {
  background-color: purple;
  bottom: calc(60% - 8px);

}

.btn:hover {
  background-color: blue;
  filter: blur(1px);

}

.topping {
  height: 60%;

  bottom: calc(25% - 8px);
  left: calc(5% - 7px);
  position: absolute;

  transform-origin: 50% calc(100% - 8px);
}

.cherry {
  bottom: calc(100% - 8px);
  animation: topping-rotate 3s linear forwards;
  position: absolute;
}

.vanilla-fudge {
  bottom: calc(100% - 8px);
  animation: topping-rotate 2s linear forwards;
  position: absolute;

}

.chocolate-chip {
  bottom: calc(80% - 8px);
  left: calc(8% - 7px);
  animation: topping-rotate 1.5s linear forwards;
  position: absolute;

}

.mint-chip {
  bottom: calc(60% - 8px);
  animation: topping-rotate 1s linear forwards;
  position: absolute;
}

.cone {
  animation: topping-rotate .5s linear forwards;
  position: absolute;
}



@keyframes topping-rotate {

  0% {
    transform: translateY(-50em);
  }

  100% {
    transform: translateY(4em);
  }

}

@keyframes text-appear {

  0% {
    opacity(0%);
  }

  100% {
    opacity(100%);
  }

}
