html {
  font-family: "Fredoka One", sans-serif;
  border-top: 5px solid #b3fbff;
  border-bottom: 5px solid #b3fbff;
  background: repeating-linear-gradient(325deg, #c9fcff, #c9fcff 20px, #d4fdff 5px, #d4fdff 40px);
}

.text {
  filter: opacity(0);
  height: 120%;
  width: 66.6%;
  animation: text-appear 1s 2s ease forwards;
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
}

.title {
  bottom: calc(60% - 8px);
  transform: rotate(-10deg);
  transform-origin: left center;
  color: #990073;
}

.paragraph {
  bottom: calc(50% - 8px);
  color: #c09;
  transform: rotate(-5deg);
  max-width: 19em;
  transform-origin: left center;
}

.ice-cream {
  position: relative;
  width: 33.3%;
  height: 85%;
  bottom: calc(-25% - 8px);
  left: calc(10% - 7px);
}

section {
  display: flex;
}

.btn {
  bottom: calc(70% - 8px);
}

.btn:hover {
  background-color: #c09;
}

.btn-ghost {
  color: #fff;
}

.btn-ghost:hover {
  color: #000;
}

.topping {
  height: 70%;
  position: absolute;
}

.cherry {
  bottom: calc(120% - 8px);
  animation: topping-fall 3s linear forwards;
  position: absolute;
}

.vanilla-fudge {
  bottom: calc(90% - 8px);
  animation: topping-fall 2s linear forwards;
  position: absolute;
}

.chocolate-chip {
  bottom: calc(65% - 8px);
  left: calc(8% - 7px);
  animation: topping-fall 1.5s linear forwards;
  position: absolute;
}

.mint-chip {
  bottom: calc(40% - 8px);
  animation: topping-fall 1s linear forwards;
  position: absolute;
}

.cone {
  bottom: calc(0% - 8px);
  animation: topping-fall .5s linear forwards;
  position: absolute;
}

@media only screen and (min-width: 90em) {

  h1 {
    top: 1.4em;
    left: 1.27em;
  }

}

@keyframes topping-fall {

  0% {
    transform: translateY(-50em);
  }

  100% {
    transform: translateY(4em);
  }

}

@keyframes text-appear {

  0% {
    filter: opacity(0) blur(5px);
  }

  100% {
    filter: blur(10px);
  }

  100% {
    filter: opacity(100) blur(0);
  }

}
